@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.firstdiv{
  
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
  width: 20%;
  //align-items: center;
  //justify-content: center;
}
.seconddiv{

  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
  width: 20%;
  //align-items: center;
  //justify-content: center;

}
.thirddiv{
  
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
  width: 20%;
  //align-items: center;
  //justify-content: center;
}

